<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__element navbar__element--burguer">
                    <div class="navbar__ham navbar__ham--firs"></div>
                    <div class="navbar__ham navbar__ham--second"></div>
                    <div class="navbar__ham navbar__ham--third"></div>
                </li>
                <li class="navbar__element navbar__element--user"><img src="https://img.icons8.com/windows/32/000000/add-user-male--v1.png"/></li>
                <li class="navbar__element navbar__element--search"><img src="https://img.icons8.com/windows/32/000000/search.png"/></li>
                <li class="navbar__element navbar__element--chart"><img src="https://img.icons8.com/pastel-glyph/64/000000/shopping-cart--v1.png" width="30rem"/></li>
                <li class="navbar__element navbar__element--pay">0</li>
            </ul>
        </nav>
        <main class="intro">
            <h1 class="intro__name">
                <img class="intro__img-name"src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg" alt="Utensilios de repostería - Comprar fondant online">
            </h1>
            <div class="intro__images">
                <img class="intro__img" title="Novedades Nordic Ware" src="https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5d6e4fdd0d920-png/1080X600.png" alt="Novedades Nordic Ware"  style="position:relative;">
            </div>
        </main>
    </header>

    <section class="utensils">
        <div class="utensils__img">
            <img height="125" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png" alt="Utensilios">
        </div>
        <h2 class="utensils__title">UTENSILIOS</h2>
        <article class="utensils__grid">
            <div class="utensils__items utensils__items--one"><div>MOLDES DE REPOSTERIA</div></div>
            <div class="utensils__items utensils__items--two"><div>UTENSILIOS BÁSICOS</div></div>
            <div class="utensils__items utensils__items--three"><div>PEQUEÑO ELECTRODOMESTICO</div></div>
            <div class="utensils__items utensils__items--four"><div>CÁPSULAS PARA MAGDALENAS</div></div>
            <div class="utensils__items utensils__items--five"><div>CAJAS Y BASES</div></div>
            <div class="utensils__items utensils__items--six"><div>CORTADORES DE GALLETAS</div></div>
            <div class="utensils__items utensils__items--seven"><div>CERÁMICA Y TEXTIL</div></div>
            <div class="utensils__items utensils__items--eight"><div>BANETONES PARA PAN</div></div>
            <div class="utensils__items utensils__items--nine"><div>TOPPERS Y FIGURITAS</div></div>
        </article>
    </section>
    <section class="ingredients">
        <div class="ingredients__img">
            <img height="125" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png" alt="Ingredientes">        </div>
        <h2 class="ingredients__title">INGREDIENTES</h2>
        <article class="ingredients__grid">
            <div class="ingredients__items ingredients__items--one"><div>FONDANT</div></div>
            <div class="ingredients__items ingredients__items--two"><div>INGREDIENTES DE REPOSTERIA</div></div>
            <div class="ingredients__items ingredients__items--three"><div>IMPRESIÓN PERSONALIZADA</div></div>
            <div class="ingredients__items ingredients__items--four"><div>COLORANTES ALIMENTARIOS</div></div>
            <div class="ingredients__items ingredients__items--five"><div>PAPEL COMESTIBLE</div></div>
            <div class="ingredients__items ingredients__items--six"><div>SPRINKLES Y PURPURINAS</div></div>
        </article>
    </section>
    <section class="party">
        <div class="party__img">
            <img height="125" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png" alt="Fiestas">        </div>
        <h2 class="party__title">FIESTAS</h2>
        <article class="party__grid">
            <div class="party__items party__items--one"><div>FIESTAS TEMÁTICAS</div></div>
            <div class="party__items party__items--two"><div>FIESTAS PERSONAJES</div></div>
            <div class="party__items party__items--three"><div>ACCESORIOS PARA FIESTAS</div></div>
        </article>
    </section>
    <section class="blog">
        <div class="blog__img">
            <img src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg" alt="Blog"> </div>
        <h2 class="blog__title">BLOG</h2>
        <div class="blog__inputs">ÚLTIMAS ENTRADAS EN EL BLOG</div>
        <article class="blog__grid">
            <div class="blog__items blog__items--one"></div>
            <div class="blog__items blog__items--two"></div>
            <div class="blog__items blog__items--three"></div>
        </article>
    </section>

    <footer>
        <section class="conditions">
            <div class="conditions__free-shipping">
                <img src="https://img.icons8.com/ios/50/000000/free-shipping.png"/>
                <h4>ENVÍO GRATIS</h4>
                <p>PEDIDOS SUPERIORES A 70€</p>
            </div>
            <div class="conditions__shipping-time">
                <img src="https://img.icons8.com/android/48/000000/clock.png"/>               
                <h4>ENVÍO 24-48H</h4>
                <p>HAZ TU PEDIDO ANTES DE LAS 18:00H</p>
            </div>
            <div class="conditions__return">
                <img src="https://img.icons8.com/material-outlined/50/000000/important-mail.png"/>                <h4>DEVOLUCIÓN</h4>
                <p>30 DIAS PARA DEVOLVER TU COMPRA</p>
            </div>
            <div class="conditions__reembolso">
                <img src="https://img.icons8.com/android/48/000000/bank-card-back-side.png"/>                
                <h4>CONTRA REEMBOLSO</h4>
                <p>SIN COMISIÓN</p>
            </div>
    
        </section>

        <section class="social">
            <h3 class="social__follow-us">SÍGUENOS</h3>
            <div class="social__networks">
                <div class="social__network"><img src="https://img.icons8.com/windows/32/000000/facebook-new.png"/></div>
                <div class="social__network"><img src="https://img.icons8.com/windows/32/000000/twitter.png"/></div>
                <div class="social__network"><img src="https://img.icons8.com/windows/32/000000/instagram-new.png"/></div>
                <div class="social__network"><img src="https://img.icons8.com/windows/32/000000/pinterest.png"/></div>
                <div class="social__network"><img src="https://img.icons8.com/windows/32/000000/youtube.png"/></div>
            </div>
            <div class="social__divisor"></div>
        </section>
        <section class="newsletter">
            <h5 class="newsletter__news">RECIBE LAS NOVEDADES EN TU E-MAIL</h5>
            <input class="newsletter__mail" type="text" placeholder="useremail@email.com">
            
            <div class="newsletter__privacity-policy"><input type="checkbox">
            <label for="check">Acepto la política de privacidad</label></div>
            <button class="newsletter__subscribeBtn">SUBSCRÍBETE > </button>
            <div class="newsletter__divisor"></div>
        </section>
        <section class="us">
            <div class="us__contactimg"><img src="https://img.icons8.com/windows/32/000000/secured-letter--v1.png"/></div>
            <div class="us__contact">CONTACTO</div>
            <div class="us__aboutimg"><img src="https://img.icons8.com/windows/32/000000/information.png"/></div>
            <div class="us__about">SOBRE NOSOTROS</div>
            <div class="us__conditionsimg"><img src="https://img.icons8.com/windows/32/000000/shopping-cart.png"/></div>
            <div class="us__conditions">CONDICIONES DE VENTA</div>
        </section>
        
        <div class="copy">Copyright 2020 María Lunarillos</div>

    </footer>
    

</body>
</html>